*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color:#F8F9FA;
}
header{
    text-align: center;
}
nav{
    text-align: center;
    background-color:#1A1A1A;
    padding:30px;
    position: fixed;
    width:100%
}
nav a{
    text-decoration: none;
    color:white;
    padding:18px;
    font-size: 14px;
    font-weight: bold;
    transition: all 0.5s ease;
}
nav a:hover{
    color:#C2552E;
}
.banner{
    color:white;
    background-color:#2B2B2B;
    padding-top:220px;
    padding-bottom: 120px;
    text-align: center;
}
.introduction{
    font-size: 25px;
}
.garage{
    margin-top: 30px;
    font-size: 15px;
    margin-bottom: 40px;
}
.choice{
    padding:10px;
}
.choice a{
    text-decoration: none;
    color:white;
    font-size: 13px;
    padding:15px 30px;
    font-weight: bold;;
}
.choice_01{
    background-color: #FF6B35;
    border-radius: 5px;
    transition: all 0.5s ease;
}
.choice_01:hover:{
    box-shadow: 2px 2px;
    transform:translateY(1.5px);
}
.choice_02{
    border: 1.5px solid white;
    border-radius: 5px;
    transition: all 0.5s ease;
}
.choice_02:hover{
    background-color:white;
    color:#FF6B35;
    transform: translateY(1.5px);
}
.demo{
    margin-bottom:50px;
    background-color:#FFFF;
    padding:50px;
}
.demo h2{
    color:#FF6B35;

}
.demo hr{
    background-color:#FF6B35;
    height:2px;
    margin-bottom:30px;
}
.demo p{
    font-size: 14px;
    line-height: 2;
    color:#4f4e4e
}
.demo-01{
    color:#FF6B35;
}
.demo-dia-diem{
    margin-top:10px;
    margin-bottom: 17px;
}
.dich-vu{
    padding:30px;
    background-color:white;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 2px #dedede;
    margin-bottom: 50px;
}
.dichvu{
    padding:20px;
    transition: all 0.7s ease;
    border-bottom: 1px solid rgb(223, 221, 221);
}
.dichvu:hover{
    transform: translateX(2);
    background-color:rgb(245, 236, 223)
}
#price_table{
    background-color: #FFFF;
    padding:50px;
    text-align: center;
}
#price_table h2{
    margin-bottom: 30px;
    font-size: 30px;
    
}
#price_table table th {
    padding:20px;
    background-color: #1A1A1A;
    color: white;
    font-size:14px;
    
}
#price_table table td{
    padding:10px;
    font-size: 13px;
}
.dich_vu{
    transition: all 0.7s ease;
}
.dich_vu:hover{
    background-color: rgb(243, 234, 226);    
}
#contact{
    padding:50px
}
#contact h3{
    font-size: 30px;
    margin-bottom: 30px;
    text-align: center;
}
#contact input, textarea{
    width:100%;
    height:50px;
    padding:10px;
}
.color{
    font-weight: bold;
    color:#FF6B35
}
.mo-ta{
    height:110px;
    padding:10px;
}
.button{
    padding:15px 30px;
    background-color: #FF6B35;
    border:none;
    border-radius: 5px;
    color:white;
    font-weight: bold;
}
from button{
    transition: all 0.7s ease;
}
from button:hover{
    transform:translateY(2);
    box-shadow: 1px 1px 1px 1px #C2552E;
}
footer{
    text-align: center;
    background-color: #1A1A1A;
    color:white;
    font-size: 12px;
    padding:20px;
}
footer a{
    text-decoration: none;
    color:#C2552E;
    margin-right:5px;
}