*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    
}
body{
    background-color: #f7f5f0;
}
header{
    display:flex;
    justify-content: space-between;
    color:white;
    background-color: black;
    padding:20px;
    margin-bottom:10px;
}
h2{
    font-weight: bold;
    font-size: 24px;
    margin:20px;
    text-align: center;
}
h3{
    padding:5px;
}
.menu{
    display: flex;
    gap:10px;   
}
img{
   margin:10px;
}
.featured-articles{
    background-color: white;
    text-align: center;
    margin:auto;
    width:450px;
    height:340px;
    border-radius: 10px;
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.5);
    padding:20px 0;
}
.doc-them{
    color:#e0bd53;
}
 .other-articles{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }

.content{
    border-radius: 10px;
    background-color:white;
    margin:20px;
    padding:10px;
    text-align:left;
    width:700px;
    height:70px;
}
footer{
    background-color: black;
    color:white;
    padding:20px;
}