*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
header{
    position: relative;
    width:100%;
    justify-content: center;
}
.content-header{
    position: absolute;
    top:50%;
    bottom:50%;
    color:aliceblue;
    text-align: center;
    transform: translate(-50%, -50%); /* Căn chính giữa tâm tuyệt đối */
}

header img{
    width:100%;
    
}
.dishes{
    display: inline-block;
}
.menu{
    text-align: center;
    margin:auto;
    width:1400px;
    height:750px;
    padding:30px;
}
.dishes{
    position: relative;
    width:300px;
    height:300px;
    margin:15px ;

}
.dishes img{
    width:300px;
    height:300px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.5); 
}
.content-dishes{
    text-align: center;
    position: absolute;
    bottom:0;
    color:white;
    font-weight: bold;
    padding:20px 10px;
    width:300px;
    height:133px;
}
.content-dishes h2{
    font-size: 27.9px;
    font-weight: bold;
    text-align: center;
    margin: auto;
    width:180.62px;
    height:63px;
    z-index:1000;
}

.dat-ban{
    text-align: center;
    margin:auto;
    background-color:#8B0000 ;
    color:white;
    width:100%;
    height:481.89px;
}
.dat-ban h2{
    text-align: center;
    margin: auto;
   width:533.67px;
   height:53px;
   padding-top:50px;
   font-size: 47.6px;
   font-weight: 700;
}
.dat-ban p{
   text-align: center;
    margin: auto;
   width:336.25px;
   height:17px;
   padding-top:50px;
   font-size: 15.1px;

}
input{
    width:300px;
    height:51px;
    border-radius: 15px;
    margin:0 10px 10px;
    padding:10px;
}
button{
    height:53px;
    width:301.94px;
    margin:25px;
    border-radius: 25px;
    color:#8B0000;
    font-size: 20px;
    font-weight: bold;
}
.thong-tin{
    display: flex;
    width:1000px;
    justify-content: space-around;
    padding:100px 0 40px 0;
    margin: auto;
    
}
footer{
    width:1920px;
    height:98px;
    text-align: center;
    background-color: black;
    color:white;
    padding:40px 0;
}
