*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    padding:20px;
    background-color: white;
    
}
.course-container{
    display: flex;
    justify-content: center;
    gap:50px;
    flex-wrap: wrap;

}
.course-card {
    background: #fff;
    border-radius: 16px;
    overflow: hidden; 
    box-shadow: 0 10px 30px rgba(0,0,0,0.05);
    border: 1px solid #eee;
    display: flex;
    width:350px;
    flex-direction: column;
}
.card-image {
    position: relative;
    width: 100%;
    height: 180px;
}
.card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.status-badge {
    position: absolute;
    top: 15px;
    left: 15px;
    padding: 5px 12px;
    border-radius: 20px;
    color: #fff;
    font-size: 12px;
    font-weight: 600;
}
.bg-blue { background-color: #4e6ef2; }
.bg-green { background-color: #00b894; }
.bg-orange { background-color: #ffa502; }
.card-body {
    padding: 20px;
    display: flex;
    flex-direction: column;
}
.category-tag {
    background-color: #f3f0ff;
    color: #7c5dfa;
    padding: 4px 10px;
    border-radius: 6px;
    font-size: 12px;
    font-weight: 600;
    display: inline-block;
    margin-bottom: 10px;
    width:80px;
}
.card-title {
    font-size: 18px;
    font-weight: 700;
    color: #2d3436;
    margin-bottom: 8px;
}
.instructor {
    font-size: 13px;
    color: #636e72;
    margin-bottom: 20px;
}
.progress-block {
    background-color: #f8f9fa;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 20px;
}
.progress-header{
    display: flex;
    justify-content: space-between;
}
.progress-bar-bg{
    background-color: #f2f3f5;
    height:10px;
    border-radius: 15px;
    border-left:40px solid #4e6ef2;
    margin:10px;
}
.progress-bar-bg2{
    border-radius: 15px;
    background-color:#11ba82;
    height:10px;
        margin:10px;

}
.info-grid{
    display: flex;
    justify-content: space-between;
    margin: 30px 0;

}
.btn-primary{
    background-color: #6366f2;
    color:white;
    height:40px;
    width:120px;
    border-radius: 10px;
   
}
.card-footer{
    display: flex;
    justify-content: space-between;
}
.btn-icon{
    width:80px;
    height:40px;
    margin:0;
    border-radius: 10px;
    background-color: #eee;
}
.btn-outline{
   border: 1px solid #6366f2;
    border-radius: 10px;
    background-color: white;
    height:40px;
    width:120px;
}
.current-price{
    font-size: 24px;
    font-weight: bold;
    color:#6366f2;
    margin-right:20px;
}
@media  screen and (max-width:768px) {
    .course-container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .course-card{
        width:90%;
        height:auto;
    }
}