html,body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #fff9f0;
    text-align: center;
}
header{
    text-align: center;
    background-color: #f4e78a;
    padding: 20px 0 0 0;
    margin:0;
    font-size: 20px;
    font-weight: 500;
}

h1,h2{
    text-align: center;
    font-family: 'Times New Roman', Times, serif, sans-serif;   
    color:rgb(121, 51, 19);
    font-size: 32px;
    font-weight: 1000;
}
header nav{
    background-color: #ffce9e ;
    padding: 5px;
    margin:0;
}
header a{
    text-decoration: none;
    margin: 3px ;
    padding: 5px;
    font-size: 20px;
    display:inline-block;
    color:rgb(121, 51, 19);
    font-weight: 600;
    border-radius: 15px;
    width:95px;
}
a:hover{
    color:white;
    background-color: darkred;
    transition: all 0.8s ;
    transform: translateY(-3px);
    width:100px;
}

img{
    width:80px;
    height:80px;
    object-fit: cover;
    border-radius: 50%;
}
.bac-si{
    text-align:center;
    display: inline-block;
    background-color:white;
    color:brown;
    border: 1px solid none ;
    border-radius:15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Hiệu ứng bóng */
    width:200px;
    height:200px;
    margin:20px;
    padding:10px;
}
 .bac-si:hover{
    background-color: antiquewhite;
    transition: all 0.5s ease-in-out 0s;
    transform: translateY(-8px);
}
footer{
    background-color:rgb(121, 51, 19);
    color:white;
    text-align: center;
  
    padding:20px;
    position: fixed;
    bottom:0;
    width:100%;
}