html,body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #fff9f0;
    font-family: Poppins;
}
header{
    text-align: center;
    background-color: #f4e78a;
    padding: 20px 0 0 0;
    margin:0;
}

h1,h2 {
    text-align: center;
    font-family: 'Times New Roman', Times, serif, sans-serif;   
    color:rgb(121, 51, 19);
    font-size: 32px;
    font-weight: 800;
}
b{
    font-weight:1000;
}
header p{
    font-size: 18px;
    font-weight: 500;
}
header nav{
    background-color: #ffce9e ;
    padding: 5px;
    margin:0;
}
header a{
    text-decoration: none;
    margin: 3px ;
    padding: 5px;
    font-size: 20px;
    display:inline-block;
    color:rgb(121, 51, 19);
    font-weight: 600;
    border-radius: 15px;
    box-shadow:inset;

}
a:hover{
    color:white;
    background-color: darkred;
    transition: all 0.8s ;
    transform: translateY(-3px);
    width:130px;
}
img{
    width: 100%;
    height: 350px;
    margin:0;
    object-fit: cover;
}
.noi-gui-niem-tin{
    text-align: left;
    font-weight: 500;
    display: inline-block;
    background-color:rgba(239, 234, 234,0.95) ;
    color:black;
    border:1 solid none;
    border-radius: 15px;
    width:300px;
    padding:0px 10px;
    position: absolute;
    right:50px;
    bottom:250px;
}
.danh-sach-bac-si{
    display:flex;
    justify-content: center;
}
.bac-si{
    text-align:center;
    display: inline-block;
    background-color:white;
    color:brown;
    border: 1px solid none ;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Hiệu ứng bóng */
    border-radius:15px;
    width:200px;
    height:80px;
    margin:20px;
    padding:10px;
}
.bac-si:hover{
    background-color: antiquewhite;
    transition: all 0.5s ease-in-out 0s;
    transform: translateY(-5px);
}

.uy-tin{
    background-color: #fff9f0;
    padding:20px;
    text-align: center;
    font-size: 20px;
}
footer{
    background-color:rgb(121, 51, 19);
    color:white;
    text-align: center;
    margin:0;
    padding:20px;

}