html,body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #fff9f0;
}
header{
    text-align: center;
    background-color:#f4e78a;
    padding: 20px 0 0 0;
    margin:0;
    font-size: 20px;
    font-weight: 500;
}

h1,h2{
    text-align: center;
    font-family: 'Times New Roman', Times, serif, sans-serif;   
    color:rgb(121, 51, 19);
    font-size: 32px;
    font-weight: 1000;
}
header nav{
    background-color: #ffce9e ;
    padding: 5px;
    margin:0;
}
header a{
    text-decoration: none;
    margin: 3px ;
    padding: 5px;
    font-size: 20px;
    display:inline-block;
    color:rgb(121, 51, 19);
    font-weight: 600;
    border-radius: 15px;
}
a:hover{
    color:white;
    background-color: darkred;
    transition: all 0.8s ;
    transform: translateY(-5px);
    width:130px;
}

img{
    width:100%;
    height:350px;
     object-fit: cover;

}
.hanh-trinh{
     text-align: left;
    font-weight: 500;
    display: inline-block;
    background-color:rgba(239, 234, 234,0.95) ;
    color:black;
    border:1 solid none;
    border-radius: 15px;
    width:300px;
    padding:0px 10px;
    position: absolute;
    left :50px;
    bottom:250px;
}

main{
    text-align: center;
    font-size: 18px;
    margin:0;
    padding:0;
}
ul{
    list-style: none;
}
ul li{
    padding:5px;
}
.gia-tri{
    text-align:center;
    background-color:#faf4ed ;
    margin:0;
    padding:10px;
}
main div:nth-child(5){
    background-color: #f9eada;
}

footer{
    background-color:rgb(121, 51, 19);
    color:white;
    text-align: center;
    margin:0;
    padding:20px;
}