*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    max-width:1320px;
    height:733.77px;
    text-align: center;
    margin: auto;    
    background-color: #f7f9fa;
}
header{
    width:1296px;
    height:150px;
    margin:48px 0 24px ;
}
header div{
    width:83px;
    height:28px;
    margin:auto;
    background-color:#ebecfa ;
    color:#6366f2;
    border-radius:10px;
    padding:5px;
    font-weight: bold;
}
header h1{
    margin: 16px;
    font-size: 36px;
}

main{
    width:1320px;
    height:463.77px;
    display: flex;
    flex-direction: row;
    gap:20px;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: left;
    margin:0;
}
.package{
    background-color:white;
    width:416px;
    height:439.77px;
    padding:24px;
    border-radius: 5px;
    box-shadow: 0 4px 12px rgba(0,0, 0, 0.1);

}
 .package-header {
    text-align:center;
    margin:20px;
 }
  .package-header p {
     color:#6366f2;
     font-size: 48px;
     font-weight: bold;
  }
  .content p{
    height:25.59px;
    margin:8px;
    padding:10px 0;
    line-height: 1.6;
  }
  .choice{
    color:#0d6dfc;
    border: 1px solid #0d6dfc;
    text-align: center;
    padding-top:5px;
    border-radius: 5px;
    margin-top:50px;
    width:364px;
    height:38px;
  }
  #choice{
    background-color: #0d6dfc;
    color:white;
  }
@media  screen and (max-width:768px) {
    header{
        width:100%;
    }
    main{
        width:100%;
    }
    .package{
        width:100%;
    }
    .choice{
        width:80%;
        margin:auto;
    }
}