*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background-color: #f5f8fc;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    background-color: #0c6cf2;
    height:65px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
header h2{
   color:white;
   font-weight: bold;
   font-size: 32px;

}
.huhmburger-btn{
    display: none;
}
header a{
    text-decoration: none;
    color:white;
    font-size: 18px;
    margin-right:25px;
}
.search-bar{
    width: 400px;
    display: flex;
    align-items: center;
    border-radius: 30px;
    background: rgba(255, 255, 255, 0.2);
}
header input{
    border-radius: 30px;
    width: 400px;
    height:30px;
    padding:0 20px;
    color:white;
    border: 0.5px solid rgba(255, 255, 255, 0.2);
    background: rgba(255, 255, 255, 0.2);
}
.humburger{
    display: none;
}
main{
    margin-left:240px;
    max-width: 1200px;
}
.hello{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    height:100px;
    margin:20px;
    padding:25px 30px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0,0, 0, 0.1);
}
.hello h2{
        margin:0 20px 10px ;

}
.gray{
    width: 180px;
    height: 10px;
    background: #e9ecef;
    border-radius: 5px;
}
.blue{
    height: 100%;
    width: 68%;
    background: #0d6efd;
    border-radius: 5px;
}
.khoa-hoc{
    display: flex;
    flex-direction: column;
    justify-content:center;
}
.khoa-hoc h2{
    text-align: left;
    margin:20px;
    color: #0c6cf2;
    font-size: 32px;
}
.khoa-hoc-lap-trinh{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap:10px;
    padding:0;
    margin: 0;
    width:100%;
}
.khoa-hoc-lap-trinh div{
    width:360px;
    height:300px;
    background-color: white;
    border-radius: 20px;
    margin: 0;
}
.khoa-hoc-lap-trinh div:hover{
    transform: translateY(-5px);
    transition: all 0.3s;
}
.khoa-hoc-lap-trinh img{
    width:100%;
    height:150px;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: 0 8px 12px rgba(0,0, 0, 0.1);
}
 div h3{
    margin:25px 20px 0 ;
}
 div p{
    margin:5px 20px 10px ;
}
.hoc{
    text-decoration: none;
    text-align: center;
    margin: auto;
    padding:10px;
    height:40px;
    background-color: #0c6cf2;
    display:flex;
    justify-content: center;
    width:80%;
    color:white;
    border-radius: 10px;
}
.khoa-hoc-goi-y{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap:20px;
    padding:0;
    margin: 0;
    width:100%;
}
.khoa-hoc-goi-y div:hover{
     transform: translateY(-5px);
    transition: all 0.3s;
}
.khoa-hoc-goi-y div{
    width:550px;
    background-color:white;
    margin: 20px;
    border-radius: 15px;
}
.khoa-hoc-goi-y img{
    width:100%;
    height:150px;
    border-radius: 15px;
    object-fit: cover;

}
@media screen and (max-width:769px) {
    .humburger{
        display:block;
        color:white;
        font-size: 28px;
    }
    header{
        display: flex;
        justify-content: space-between;
        padding:10px;
    }
    .search-bar{
        display: none;
    }
    header div:nth-child(3){
        display: none;
    }
    main{
        width:100%;
        margin: 0;
        
    }
    .khoa-hoc-lap-trinh div{
        width:90%;
        height:300px;
        margin: auto;
    }
    .khoa-hoc-goi-y div{
        width:90%;
        height:300px;
        margin: auto;
    }
    img{
        height:auto ;
        width:100%;
    }
    .hello{
        text-align: center;
        height:180px;
        display: flex;
        flex-direction: column;
    }
}