*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background-color:#fff8f0;
}
header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: nowrap;
    height:96px;
    padding:25px 0px;
    background-color: white;
    position: fixed;
    top:0;
    width:100%;
    z-index: 1000;
}
header div{
    color:#E76F51;
    font-size: 35.2px;
}
header nav{
    width:400px;
    height:30px;
    padding:10px;
}
a{
    width:50px;
    height:22px;
    color:black;
    font-size: 18px;
    text-decoration: none;
    margin:10px;
    padding:32px 0;
}
button{
    background-color: #E76F51;
    height:50px;
    width:180px;
    border-radius: 25px;
    color:white;
    font-weight:bold;
    font-size: 20px;
}
.ss1{
    position: relative;
    display: flex;
    justify-content: center;
    width:100%;
}
.ss1 img{
    width:100%;
    height:960px;
}
.title{
    text-align: center;
    color :white;
    width:620px;
    height:277px;
    position:absolute;
    top :50%;
    bottom:50%;
}
h1{
    height:85px;
    font-size: 64px;
}
.title p{
    font-size: 22.4px;
    margin:10px;
}

.ss2{
    width:1200px;
    height:682.91px;  
   margin:auto;
} 
 h2{
  color:#E76F51;
  height:76.8px;
  width:273.78px;
  font-size:48px;
  text-align: center;
  margin:auto;

}
.ss2 img{
    height:220px;
    width:320px;
    border-radius: 15px;;
}

.featured-dishes{
    display: flex;
    justify-content:space-between;

}
.dishes{
    width:320px;
    height:446.11px;
    display: inline-block;
    border-radius: 15px;
    margin:10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); 
    background-color: white;
}
.dishes:hover{
    transform: scale(1.05);
    transition: all 0.3s;
    cursor:pointer;
}
h3{
    font-size: 25.6px;
    font-weight: bold;
    height:34px;
    margin:10px;
    padding:10px;

}
.content-dishes p:nth-child(2){
    color:#E76F51;
    font-size:24px;
    font-weight: bold;
    padding:10px;
}
.content-dishes p:nth-child(3){
    color:#9e9e9e;
    font-size: 16px;
    padding:10px;
}
.menu{
    width:1200px;
    height:500px;   
    padding:60px;
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
    margin:auto;
}
.menu-dishes{
   width:280px;
   height:68px; 
   background-color: white;
   border-radius: 20px;
   margin:10px;
   padding-top:25px;
   display: flex;
   justify-content: space-around;
   font-size: 18px;
   font-weight:bold;
}
.menu-dishes p:nth-child(2){
    color:#E76F51;
}
footer{
    background-color: #3d3030;
    width:100%;
}
hr{
    border:1px solid gray;
    width:60%;
    margin:auto;
}
h4{
    color:#E76F51;
    font-size: 24px;
    font-weight: bold;
}

.footer{
    width:1200px;
    margin:auto;
    padding-top:20px;
    display: flex;
    justify-content: space-around;
    text-align: left;
}
.footer div{
    padding:10px;
}
.footer p{
    color:white;
    font-size: 16px;
    text-align: left;
}
footer p{
    color: white;
    text-align: center;
    margin-top:10px;
    text-align: center;
    font-size: 14.5px;
    padding-bottom:10px;
}