.banner {
    text-align: center;
    border: 5px solid black;
    width:100%;
    height: 150px;
    background-color: #1eff29;
    color:black;
}
h2 {
   background-color:white;
}
.banner{
    background-color:;
}
