body{
    font-family: cursive;
    border:2px solid;
    width:400px;
    height:350px;
    padding: 0px;
    border-radius:20px;
}
header{
    margin:0px;
    padding:0px;
    height:50px;
}
h1{
    text-align: center;
    background-color: aqua;
    font-size:25px;
    margin: 0px;
    padding: 10px 0px;
    border-radius: 20px;
}

header span{
    font-size:20px;
    font-weight:1000;
    border-radius: 20px;
    color:white;
    margin:0px;
    padding:0px;
    background-color: red;
    position: relative;
    bottom: 50px;
    left: 350px;
    
}
main span{
    font-size:18px;
    height:50px;

}
span p{
    display:inline-block;
    margin:0px;
    color:green;
}
footer input{
    text-align: center;
    background-color: aqua;
    color:black;
    font-size:20px;
    font-weight: 700;
    width:90%;
    height:40px;
    margin:10px 0px 0px 20px;
    border-radius: 20px;
}