body{
    border:5px solid gray;
    width:450px;   
    font-family:Arial, Helvetica, sans-serif;
    border-radius:20px;
}
header span{
    color:rgb(75, 34, 5);
    background-color: darksalmon;
    font-size: 20px;
    border-radius: 15px;
    position: relative;
    left: 45px;
}
main div{
    padding:10px;
    color:rgb(146, 146, 147)
}
main div span{
    font-weight:1000;
    color:black;
}
main div:nth-child(3){
    color:black;
    font-weight:1000;
}

.tien-trinh-gray{
    background-color: lightgray;
    border-radius: 20px;
    width:80%;
    height:2px;
    margin:0px;
    position: relative;
    left:15px;
}
.tien-trinh-green{
    background-color: green;
    border-radius: 20px;
    width:70%;
    height:100%;
    position: relative;
    bottom:10px;
    right:10px;
}